.accordion__title {
  max-width: 412px;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: var(--bold);
  line-height: 28px;
}

.accordion {
  display: flex;
  gap: 32px;
}

.accordion__container {
  max-width: 569px;
  min-height: 292px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 65px 60px;
  border: 1px solid var(--lightgray);
  border-radius: 32px;
  color: var(--black);
  outline: none;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .accordion {
    flex-direction: column;
  }

  .accordion__container {
    max-width: 100%;
    min-height: 100%;
    padding: 63px 60px;
  }

  .accordion__title {
    max-width: 100%;
    margin-bottom: 11px;
  }
}

@media (max-width: 962px) {
  .accordion__container {
    padding: 34px 65px 35px 40px;
  }

  .accordion__title {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .accordion__title {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .accordion__container {
    border: none;
    padding: 0;
  }

  .accordion__title {
    font-weight: var(--medium);
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }
}
